$blue-dark: #2C3E50;
$silver: #ECF0F1;
$silver-dark: #BDC3C7;
$red-dark: #C0392B;
$red-light: #E74C3C;
$black-light: #646464;
$black-dark: #262626;
$green-dark: #27AE60;
$turqouise-light: #1ABC9C;
$turqouise-dark: #16A085;
$white01: rgba(255, 255, 255, 0.1);
$white03: rgba(255, 255, 255, 0.3);
$white05: rgba(255, 255, 255, 0.5);
$white07: rgba(255, 255, 255, 0.7);

$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0, 0, 0, 0.3);
$black05: rgba(0, 0, 0, 0.5);
$black07: rgba(0, 0, 0, 0.7);
$black08: rgba(0, 0, 0, 0.8);
$black09: rgba(0, 0, 0, 0.9);